.link-text:hover {
    text-decoration: underline;
}

.company {
    width: 8vw;
}

.fa-brands {
    color: white;
    font-size: 2vw;
    margin-left: 2vw;
}

.fa-brands:hover {
    color: grey;
}

.working-photo {
    width: 32vw;
}

.view-all,
.register {
    width: 12vw;
}